/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bourbon";

@include font-face("p22 Bayer Universal", "../fonts/p22_bayer/p22_-_p22bayer-universal-webfont");
* {
	@include box-sizing(border-box);
}
:root {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
body {
	@include transition(all .2s linear);
	//@include background(url(../elements.svg) #FFE3A6 contain no-repeat);
	background-color: #FFE3A6;
	background-image: url(../elements.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.logo {
	width: 25%;
	height: auto;
	margin: 0.01%;
	float: left;
}
nav {
	float: left;
	margin-left: 16%;
	width: 50%;
	@include transition(all .2s linear);
	ul {
		li {
			display: inline-block;
			margin-left: 2%;
			@include transition(all .2s linear);
			a {
				color: #FFCC31;
				font-family: "p22 Bayer Universal";
				text-decoration: none;
				@include transition(all .2s linear);
				//font-size: 2.0rem;
			}
			a:hover {
				color: #B30B09;
			}
		}
	}
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
	body {
	
	}
}


@media only screen and (min-width : 481px) and (max-width : 1024px) {
	body {
		background-size: 99%;
		background-position: 1300% 70px;
	}
	.logo {
	width: 30%;
	height: auto;
	margin: 0.01%;
	}
nav {
	float: left;
	margin-left: 0;
	width: 69%;
	ul {
		li {
			display: inline-block;
			margin-left: 2%;
			a {
				color: #000000;
				font-size: 3.0em;
				line-height: 70px;
			}
			
		}
	}
}

}
@media only screen and (min-width : 481px) and (max-width : 700px) {
	nav {
	
	ul {
		li {
			margin-left: 1.5%;
			a {
				
				font-size: 4.0em;
				
			}
			
		}
	}
}
}
@media only screen and (min-width : 1024px){
	nav {
		ul {
			li {
				margin-left: 2%;
				a {
					font-size: 2.5rem;
					//font-size: 2.5vw;
				}
			}
		}
	}
}
@media only screen and (min-width : 1324px){
	nav {
		ul {
			li {
				margin-left: 2%;
				a {
					
				}
			}
		}
	}
}